@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: #141414;
    color: white;
 }

header {
    height: 80px;
    display: flex;
    align-items: center;
    color: red;
}

.title {
    margin-left: 30px;
}